//$platinum: #D3D4D9;
//$red: #BB0A21;
//$white: #fffff;
//$black: #000000;
//$blue: #4B88A2;

@import "bulma/bulma";
@import "bulma/theme.css";
@import "top-navigation";

//a {
//  color: $blue;
//  text-decoration: underline;
//  cursor: pointer;
//  &:hover {
//    text-decoration: none;
//  }
//}

.has-hoverable-background-info {
  &:hover {
    background-color: hsl(171deg, 100%, 41%) !important;
  }
}

.deployable-small {
  cursor: pointer;
  &:hover {
    background-color: #fafafa;
  }
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 68px;
  padding-left: 1rem;
  padding-right: 1em;
  width: 250px;
}

 .material-symbols-outlined {
   font-variation-settings:
           'FILL' 0,
           'wght' 400,
           'GRAD' 0,
           'opsz' 15
 }